# Python cache and virtual environment
__pycache__/
.pytest_cache/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Editor files
*.swp
*.swo
*.idea/
*.vscode/

# OS files
.DS_Store

# Logs
*.log

# Bash
*.sh

# Data
data/