# Core dependencies
    numpy>=1.21

# Optional: for SQL adapter
    sqlalchemy>=2.0

# Save securete data
    python-dotenv

# Load for PostgreSQL
    psycopg2-binary

# Tests
    pytest>=7.0.0
    pytest-cov>=4.0.0
    pytest-mock>=3.10.0